/* site.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.wrapper {
    flex: 1;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    border-bottom: #ccc 2px solid;
    z-index: 1000; /* Header’ın diğer içeriğin üstüne çıkmasını sağlar */
}

    header a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin-right: 15px;
    }

    header ul {
        list-style: none;
        padding: 0;
    }

        header ul li {
            display: inline;
            margin-right: 20px;
        }

            header ul li a {
                text-decoration: none;
                color: #fff;
            }

h1, h2, h3, h4 {
    color: #333;
}

.btn {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

    .btn:hover {
        background-color: #0056b3;
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .table th {
        background-color: #007bff;
        color: #fff;
    }

.form-group {
    margin-bottom: 1rem;
}

    .form-group label {
        display: block;
        margin-bottom: .5rem;
    }

    .form-group input, .form-group textarea {
        width: 100%;
        padding: .5rem;
        border-radius: .25rem;
        border: 1px solid #ccc;
    }

    .form-group textarea {
        height: 100px;
    }

input[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
